In [67]:
import pandas as pd
import numpy as np

from datetime import datetime

**Loading the data**

In [55]:
df = pd.read_csv('/content/train.csv')  #loading the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [56]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

# A

In [57]:
df.isnull().sum().sort_values(ascending=False) #list of all missing sorted according to the column which has more missing values

New_Price            5032
Seats                  38
Power                  36
Engine                 36
Mileage                 2
Unnamed: 0              0
Fuel_Type               0
Kilometers_Driven       0
Year                    0
Location                0
Name                    0
Owner_Type              0
Transmission            0
Price                   0
dtype: int64

In [58]:
df.drop(columns='New_Price', inplace=True)
# as New price more than half of the values are missing droping will be the better option because even if if i take either mean/median/mode will not give me accurate answer
df['Seats'] = df['Seats'].fillna(df['Seats'].mode()[0])
# seats i am taking mode because have standard values for seats and either 2/5/7... there will not be float value like 5.5 and this is also kind of categorical variable depends on the type of the car.

In [59]:
# Remove units from 'Mileage' kmpl, km/kg using string replace with empty string using regular expression
df['Mileage'] = df['Mileage'].str.replace(' kmpl', '', regex=False)
df['Mileage'] = df['Mileage'].str.replace(' km/kg', '', regex=False)

# Remove units from 'Engine' replace CC with empty string
df['Engine'] = df['Engine'].str.replace(' CC', '', regex=False)

# Remove units from 'Power' bhp using regular expression replacing with empty string
df['Power'] = df['Power'].str.replace(' bhp', '', regex=False)

df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199,88.7,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,3.50

In [60]:
# Convert sting to float using to_numeric function here coerce will convert invalid one to NaN because there are missing values needs to he handled
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

# Impute missing values of columns 'Mileage', 'Engine', 'Power' with their median values will be a good option as there are not categorical variables and only few missing values are present
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].median())
df['Engine'] = df['Engine'].fillna(df['Engine'].median())
df['Power'] = df['Power'].fillna(df['Power'].median())

df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [61]:
df.isnull().sum().sort_values(ascending=False) # checking if all the missing values are handled

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [62]:
df.drop(columns='Unnamed: 0', inplace=True) # removing first unmamed column as it is no use

# C

In [63]:
# checking for unique values in fuel_type and transmission columns
print(df['Fuel_Type'].unique())
print(df['Transmission'].unique())

['Diesel' 'Petrol' 'Electric']
['Manual' 'Automatic']

In [64]:
# Conversion into categorical variables
df = pd.get_dummies(df, columns=['Fuel_Type'])
df = pd.get_dummies(df, columns=['Transmission'])

In [65]:
# Conversion into boolean datatype
df = df.astype({'Fuel_Type_Diesel': 'int', 'Fuel_Type_Petrol': 'int', 'Fuel_Type_Electric': 'int',
                'Transmission_Manual': 'int', 'Transmission_Automatic': 'int'})

In [66]:
df.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,0,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1

# D

In [69]:
#Creating new column Current age of the car by sub from current year with the year
current_year = datetime.now().year
df['Car_Age'] = current_year - df['Year']
df.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1,10
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,0,1,14
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1,13
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0,12
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1,12

# E

In [73]:
#example of groupby columns
df.groupby(['Fuel_Type_Petrol', 'Fuel_Type_Diesel', 'Fuel_Type_Electric'])['Price'].mean()
#average price per fuel type

Fuel_Type_Petrol  Fuel_Type_Diesel  Fuel_Type_Electric
0                 0                 1                     12.875000
                  1                 0                     12.960686
1                 0                 0                      5.756688
Name: Price, dtype: float64

In [74]:
new_df = df[['Name', 'Year', 'Kilometers_Driven', 'Fuel_Type_Petrol', 'Transmission_Manual', 'Price']]
#select specific columns

In [75]:
#example of filter
filter_df = df[(df['Fuel_Type_Diesel'] == 1) & (df['Transmission_Automatic'] == 1)]
#Filter cars which use diesel and has automatic transmission
filter_df.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0,12
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755.0,171.50,8.0,17.50,1,0,0,1,0,9
11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,First,12.70,2179.0,187.70,5.0,27.00,1,0,0,1,0,11
12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Second,0.00,2179.0,115.00,5.0,17.50,1,0,0,1,0,13
17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,First,14.84,2143.0,167.62,5.0,28.00,1,0,0,1,0,11

In [76]:
#example of renaming columns
df.rename(columns={
    'Fuel_Type_Petrol': 'Petrol',
    'Fuel_Type_Diesel': 'Diesel',
    'Fuel_Type_Electric': 'Electric',
    'Transmission_Manual': 'Manual',
    'Transmission_Automatic': 'Automatic'
}, inplace=True)
#renaming columns
df.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Diesel,Electric,Petrol,Automatic,Manual,Car_Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1,10
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,0,1,14
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1,13
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0,12
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1,12

In [78]:
#example of mutate
df['Age_Category'] = 'Really Old'
#default value at the first
df.loc[df['Car_Age'] <= 15, 'Age_Category'] = 'Its old'
df.loc[df['Car_Age'] <= 10, 'Age_Category'] = 'Okay to buy'
df.loc[df['Car_Age'] <= 5, 'Age_Category'] = 'Brand new'
df.head()

#Categorize the car according to the age.

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Diesel,Electric,Petrol,Automatic,Manual,Car_Age,Age_Category
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1,10,Okay to buy
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,0,1,14,Its old
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1,13,Its old
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0,12,Its old
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1,12,Its old

In [80]:
#example of mutate
df['Mileage_per_Year'] = df['Mileage'] / df['Car_Age']
#calculating mileage per year
df.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Diesel,Electric,Petrol,Automatic,Manual,Car_Age,Age_Category,Mileage_per_Year
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1,10,Okay to buy,1.967000
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,0,1,14,Its old,0.928571
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1,13,Its old,1.597692
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0,12,Its old,1.266667
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1,12,Its old,1.923333

In [81]:
#example of sorting
sort_df = df.sort_values(by=['Price', 'Car_Age'], ascending=[False, True])
sort_df.head()

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Diesel,Electric,Petrol,Automatic,Manual,Car_Age,Age_Category,Mileage_per_Year
3952,Land Rover Range Rover 3.0 Diesel LWB Vogue,Hyderabad,2017,25000,First,13.33,2993.0,255.0,5.0,160.00,1,0,0,1,0,8,Okay to buy,1.666250
5620,Lamborghini Gallardo Coupe,Delhi,2011,6500,Third,6.40,5204.0,560.0,2.0,120.00,0,0,1,1,0,14,Its old,0.457143
5752,Jaguar F Type 5.0 V8 S,Hyderabad,2015,8000,First,12.50,5000.0,488.1,2.0,100.00,0,0,1,1,0,10,Okay to buy,1.250000
1457,Land Rover Range Rover Sport SE,Kochi,2019,26013,First,12.65,2993.0,255.0,5.0,97.07,1,0,0,1,0,6,Okay to buy,2.108333
1917,BMW 7 Series 740Li,Coimbatore,2018,28060,First,12.05,2979.0,320.0,5.0,93.67,0,0,1,1,0,7,Okay to buy,1.721429

In [82]:
#number of cars by location
#example of grouping and summarizing
cars_location = df['Location'].value_counts().reset_index()
cars_location.columns = ['Location', 'Total_Cars']
cars_location.head()

     Location  Total_Cars
0      Mumbai         762
1   Hyderabad         710
2       Kochi         640
3  Coimbatore         631
4        Pune         590